{% extends 'base.html.twig' %}

{% block title %}Snowtricks
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Hero title
            </p>
            <p class="subtitle">
                Hero subtitle
            </p>
        </div>
    </section>
{% endblock %}