<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="{{ asset('build/images/logo.png') }}" width="" height="" alt="Snowtricks">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item is-size-7">
                <a href="#">
                   <strong>Tricks</strong>
                </a>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-small is-info">
                        <strong>Inscription</strong>
                    </a>
                    <a class="button is-small is-light">
                        Connexion
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>