<header class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <a class="header-logo" href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png') }}">
        </a>
            <div class="d-flex flow-row-nowrap justify-content-center">
                <div class="hide-xs">
                    <a href="" class="mr-5">Tricks</a>
                    <a href="" class="btn btn-primary btn-small mr-5">inscription</a>
                    <a href="" class="btn btn-primary-stroke btn-small">Connexion</a>
                </div>
            </div>
    </div>
</header>
