<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column">
{{ include('partials/_header.html.twig') }}
<div class="flex-fill d-flex flex-row-nowrap justify-content-center">
    <div class="content-main content d-flex flex-row-nowrap flex-column-xs flex-fill">
        <div class="flex-fill"> {% block body %}{% endblock %}</div>
    </div>
</div>
{{ include('partials/_footer.html.twig') }}
</body>
</html>
